* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  
  
}

.card-container {
  text-align: center;
  overflow-y: hidden;
  overflow-x: scroll;
  
  
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
  border: 1px solid black;
  text-align: center;
  max-height: 350px;
  padding: 5px;
  margin: 20px;

  min-width: 240px;
  
}

.item-container:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.image {
  object-fit: contain;
  width: 150px;
  height: 150px;
  flex: 2;
}

.rating {
  display:flex;
  align-self: end;
  margin-bottom: 10px;
  flex: 0.2;
  align-items: center;
}

.title {
  font-size: 1rem;
  margin-bottom: 5px;
  flex: 0.5;
}

.price {
  font-size: small;
  flex: 0.2;
  margin-bottom: 5px;
}

.price:hover {
  background-color: rgb(236, 236, 143);
}

select {
  display: block;
  margin: 20px auto;
}

@media (min-width: 600px) {
  .card-container {
    display: flex;
    height: 400px;
  }
}

.fa-star {
  color: rgb(236, 236, 143);
  -webkit-text-stroke: .5px black;
  
}

.cart {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 1rem;
}

#zeroItems {
  margin: 100px auto;
  color: red;
}